<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notes - Mr kumar </title>
    <link rel="web icon" href="../images/icon.png">
    <link rel="stylesheet" href="styles/index.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="hero w-screen h-screen bg-zinc-300 ">
      <center>
        <h2
          class="font-bold text-white text-2xl bg-zinc-900 border-b-2 border-dotted p-2 mb-4"
        >
          All Files
        </h2>
      </center>
      <a
        href="/create"
        class="p-2 m-4 rounded-md bg-black text-white border-x-8"
      >
        Create File
      </a>

      <div
        class="files flex flex-wrap w-full rounded-md p-6 gap-4 bg-blue-20 text-white justify-center font-bold"
      >
        <% if(files.length>0){files.forEach(function(file){%>

        <div
          class="file w-72 rounded-xl p-2 m-2 flex flex-wrap justify-start gap-4 bg-zinc-500 border-2 border-white-600 border-dotted text-white font-bold"
        >
          <h2 class="text-xl w-full p-2"><%= file%></h2>
          <a class="text-sm text-left bg-zinc-700 rounded-r-full rounded-tl-full mx-4 px-2 border-b-2 border-solid border-orange-800" href="/show/<%=file%>"> Read file content ... </a>
          <span class="flex w-full h-1/3 justify-between content-center mt-4 p-2">
          <a href="/delete/<%=file%>" class="text-red-300 text-xs p-4">delete file</a>
          <a href="/rename/<%=file%>" class="text-red-300 text-xs p-4">rename file</a>
          </span>
        </div>

        <% })}else{%>

        <a href="/create" class="bg-orange-600 p-4 m-6 rounded-md border-x-2 border-b-2">
          Nothing to see ! Created items will shown here...</a
        >
        <%}%>
      </div>
    </div>
  </body>
</html>
